.navbar {
    background: #02243c;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    padding: 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}